@model ETTU_Gadgets_Web.Models.RaceResult

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RaceResult</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Start)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Start)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.End)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.End)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Race.Pool)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Race.Pool)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Boat.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Boat.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
